.card {
    margin-bottom: 30px;
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#rowCarruselHero{
    height: 500px;
}

.fotoCarrusel{
    max-width: 70vh;
}

.boton-flotante{
    position: absolute;
    bottom: 30px;
    left: 17%;
    z-index: 10;
}

#foto-centro-quienes-somos{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hero {
    background: url(./img/fondo-gam.jpg) center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.capa-difuminado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0,0.4);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.hero-contenido{
    z-index: 2;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}


